
<p-toast position="top-right"></p-toast>



<div class="contenedorhome">
    <app-nav-bar class="navxd"></app-nav-bar>
    <app-home-banner></app-home-banner>
    <div data-aos="zoom-in" data-aos-duration="1000" >
        <app-home-destacados></app-home-destacados>
    </div>
    <div class="elegant-divider">
        <div class="divider-line"></div>
        <div class="divider-icon">●</div>
        <div class="divider-line"></div>
      </div>
    <app-nuevos-design></app-nuevos-design>  
    <div class="elegant-divider">
        <div class="divider-line"></div>
        <div class="divider-icon">●</div>
        <div class="divider-line"></div>
      </div>  
    <app-home-categorias></app-home-categorias>
    <div class="elegant-divider">
        <div class="divider-line"></div>
        <div class="divider-icon">●</div>
        <div class="divider-line"></div>
      </div>
    <app-home-conecta-creatividad></app-home-conecta-creatividad>
    <div class="elegant-divider">
        <div class="divider-line"></div>
        <div class="divider-icon">●</div>
        <div class="divider-line"></div>
      </div>
    <app-floating-buttons></app-floating-buttons>
    <app-blog-card ></app-blog-card>
    <br>
    <br>
    <br>
    <br>
</div>
<app-footer></app-footer>