<div class="grid-item imgcat1">
    <div class="overlay">
        <div class="divtextoBanner">
            <p class="textoBanner">LO MÁS VENDIDO, TU PRÓXIMA ELECCIÓN.</p>
        </div>
        <div class="divSubTextoBanner">
            <p class="subTextoBanner">Diseño y decoración</p>
            <br>
            <p class="subTextoBanner2" >Diseño personalizado | Envío gratis </p>
        </div>
            
    </div>
    <p-button  class="buttonAgregaraCarrito" [rounded]="true" severity="secondary"><h1 class="textbotton">Shop All</h1></p-button>

</div>